  <div class="card no-border">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="caps">{{selectedProjectName}} <span class="sub-title">(project)</span></h1>
        </div>
        <div class="col-md-2">
          <button class="btn btn-action mt-2 float-right" (click)="editProjectBtn(selectedProject)"> <i class="fa fa-pencil"></i> Edit Project</button>
        </div>
      </div>
    </div>
  
    <div class="card-body">
      <div class="tab-content p-1">
        <app-create-update-project *ngIf="makeProjectEditable == true" (notify)="updateProjectData($event)" [selectedProject]="selectedProject"></app-create-update-project>
      </div>


      <div class="tab-content project-detail-container" *ngIf="makeProjectEditable != true">
        <div class="row">
          <div class="col-2">
            <img class="img-container" src='{{selectedProject.image}}'/>
          </div>
          <div class="col-10">
            <div class="row">
              <b> Description : </b> <i> {{selectedProject.description}} </i>
            </div>
            <div class="row mt-20">
              <b> Duration : </b> <i> {{selectedProject.duration}} </i>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="makeProjectEditable != true">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h3 class="card-title">
                  <i class="fas fa-tasks"></i>
                  Project Tasks
                </h3>
              </div>
              <div class="col-md-6">
                <button class="btn btn-action btn-sm float-right" (click)="editTaskBtn({'id':-1})"> + New Task</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="tab-content p-1">
                <app-create-update-project-task *ngIf="makeTaskEditable == true" (notify)="updateTaskList($event)" [selectedTask]="selectedProjectTask" [selectedProject]="selectedProject"> </app-create-update-project-task>
              </div>
              <div class="tab-content"  *ngIf="makeTaskEditable != true">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30" >Task Name</th>
                      <th width="40" >Description</th>
                      <th width="40" >Start Date</th>
                      <th width="40" >End Date</th>
                      <th width="10" class="text-center">View</th>
                      <th width="10" class="text-center">Edit</th>
                      <th width="10" class="text-center">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let project_task of selectedProjectTasks">
                      <td width="30">{{project_task.name}}</td>
                      <td width="40">{{project_task.description}}</td>
                      <td width="40">{{project_task.start_date}}</td>
                      <td width="10">{{project_task.end_date}}</td>
                      <td width="10" class="text-center"> <a [routerLink]="['/project',selectedProject.id,'task',project_task.id]"> <i class="fa fa-search"></i> </a></td>
                      <td width="10" class="text-center" (click)="editTaskBtn(project_task)"><i class="fa fa-pencil" role="button"></i></td>
                      <td width="10" class="text-center" (click)="deleteProjectTask(project_task)"><i class="fa fa-trash" role="button"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>